
#RootDiv { width:100%; margin:0; padding:0; }
	#BackgroundDiv { width:933px; margin: 0 auto; padding: 0 14px; z-index:5; }
		#HeaderContainer { position:relative; width:930px; margin:0 0 0 3px; background-color:#fff; z-index:99; }
			.header { overflow: hidden; padding: 12px 15px 5px 21px; }
				.header h1 { float:left; padding-top: 0px; }
					.header h1 img { border: none; }
				.header .divUtility { width: 258px; float: right; }				
                    .header .divUtility .floatRight { float: right; }				
			.menu { width:100%; height:26px; border-bottom:1px solid #000000; }
				.menu ul { width: 950px; margin: 0 0 0 19px; padding: 0; list-style-type:none; }        
					.menu li { position:relative; float:left; width:224px; color:#000; }
					.menu:hover > a { background: #666666; color: #000000; }
				.menu a { background: #d8dee5; color: #000000; display: block; font-size: 12px; font-weight: bold; height: 26px; line-height: 29px; text-decoration: none; width: 222px;  background: #eef2f7; text-align: center; }
				.menu a:hover { background: #c8d6e6; color: #000000; }
				.menu a.current { background: #c8d6e6; }
				* html .menu a { width: 168px; }
				* html .menu a:visited { width: 168px; }
					.menu ul li:hover ul { visibility: visible; }
					.menu ul a:hover ul { visibility: visible; }
					.menu ul ul { position: absolute; left:0; top:26px; width:221px; border-top:1px solid #ffffff; margin-left:0; border-right: 1px solid #2585C9; border-bottom: 1px solid #2585C9; border-left: 1px solid #2585C9; z-index:99; visibility:hidden; }
					.menu ul ul:hover > a { background: #666666; color: #000000; }
					* html .menu ul ul { top: 27px; }
						.menu ul ul a { background: #eef2f7; border-width: 0 1px 1px; color: #000000; height: auto; line-height: 1em; padding: 5px 10px; width: 201px; text-align: left; }
						.menu ul ul a:visited { background: #eef2f7; border-width: 0 1px 1px; color: #000000; height: auto; line-height: 1em; padding: 5px 10px; width: 201px; text-align: left; }
							.menu ul ul a:hover { background: #c8d6e6; color: #000000; }
						* html .menu ul ul a { width: 158px; } 
						* html .menu ul ul a:visited { width: 158px; }
 
		.main { clear: both; width: 893px; padding: 0 20px 14px 20px; }

